.hero {
  background-image: url("../img/hero-bg.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1921px;
  padding-bottom: 336px;
  background-position: center;
  margin: 0 auto;
  &__content {
    padding-top: 260px;
    max-width: 934px;
    text-align: center;
    position: relative;
    left: 49.6%;
    transform: translateX(-50%);
  }
  &__pretitle {
    position: relative;
    left: 5px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 25px;
    color: $span-hero-color;
  }

  &__title {
    margin-bottom: 82px;
    @include for-laptop {
      display: flex;
      flex-direction: column;
    }
    @include mobile-landscape {
      font-size: 5.4rem;
      line-height: 71px;
    }
    @include mobile {
      font-size: 4.4rem;
      line-height: 60px;
    }
    @include small-mobile {
      font-size: 3.4rem;
      line-height: 50px;
    }
  }

  &__descr {
    left: -1px;
    letter-spacing: 0.1px;
    @include for-laptop {
      padding-top: 40px;
    }
    @include mobile {
      font-size: 3rem;
      line-height: 50px;
    }
    @include small-mobile {
      font-size: 2.6rem;
      line-height: 45px;
    }
  }

  &__btn {
    top: 0;
    left: -50px;
    transform: translateX(29px);
    @include small-mobile {
      text-align: right;
    }
  }

  &__social {
    position: absolute;
    top: 833px;
    left: 50.3%;
    transform: translateX(-50%);
  }
  @include mobile {
    height: 100vh;
  }
}

.hero-social {
  display: flex;
  align-items: center;
  &__telegram {
    margin-right: 20.01px;
  }
}
