.slider, .slider-two, .slider-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 235px;
  &__item {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 19px;
    color: #303030;
    animation: slider-anim 0.4s linear;
    @include mobile {
      max-width: 310;
    }
    @include mobile {
      margin-bottom: 30px;
    }
  }
  @include mobile {
    max-width: 310px;
  }
}
.slider-nav, .slider-two-nav, .slider-three-nav {
  transform: translateY(6px);
  cursor: pointer;
  &__prev {
    margin-right: 19px;
  }
}
@keyframes slider-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
