.advantages-tabs-header {
  margin-bottom: 126px;
  @include big-laptop {
    margin-bottom: 60px;
  }
  @include for-laptop {
    justify-content: space-between;
  }
  display: flex;
  &__item {
    font-size: $tabs-title-size;
    color: $tabs-title-color;
    position: relative;
    cursor: pointer;
    &--active::after {
      content: "";
      border-bottom: 1px solid black;
      position: absolute;
      width: 100%;
      top: 25px;
      left: 0;
      @include old-mobile {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:not(:last-child) {
      margin-right: 44px;
      @include mobile-big-landscape {
        margin-right: 0;
      }
    }
    &:nth-child(2) {
      margin-right: 41px;
      @include mobile-big-landscape {
        margin-right: 0;
      }
    }
    @include for-laptop {
      &:not(:last-child) {
        margin-right: 20px;
        @include old-mobile {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }
  }
  @include old-mobile {
    flex-direction: column;
    margin-right: 0;
  }
}

.advantages-tabs-body {
  &__item{
    display: none;
    &--active {
      display: flex !important;
    }
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  &__img {
    margin-right: 40px;
    @include mobile-landscape {
      margin-right: 15px;
    }
    @include mobile {
      width: 350px;
      height: auto;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}
