/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Notosans";
  src: url("../fonts/../fonts/NotoSans.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Notosans";
  src: url("../fonts/../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: "Notosans", sans-serif, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

li {
  list-style-type: none;
  padding: 0;
}

ul {
  padding: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  padding-top: 70px;
}

.substrate {
  display: none;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.animate {
  -webkit-animation-name: elem-animate;
  animation-name: elem-animate;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes elem-animate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes elem-animate {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.animateFade {
  -webkit-animation-name: fade-animate;
  animation-name: fade-animate;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes fade-animate {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-animate {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.arrow {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  cursor: pointer;
  z-index: 15;
}
.arrow__element-1 {
  position: relative;
  width: 3px;
  height: 20px;
  background-color: orange;
  border-radius: 2px;
}
.arrow__element-2 {
  position: absolute;
  top: -2px;
  right: 5px;
  z-index: 12;
  width: 3px;
  height: 15px;
  background-color: orange;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow__element-3 {
  position: absolute;
  top: -2px;
  left: 5px;
  z-index: 13;
  width: 3px;
  height: 15px;
  background-color: orange;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow::after {
  content: "";
  position: absolute;
  width: 47px;
  height: 47px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid orange;
  border-radius: 50%;
}
.arrow:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hero {
  background-image: url("../img/hero-bg.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1921px;
  padding-bottom: 336px;
  background-position: center;
  margin: 0 auto;
}
.hero__content {
  padding-top: 260px;
  padding-bottom: 81px;
  max-width: 934px;
  text-align: center;
  position: relative;
  left: 49.6%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hero__pretitle {
  display: inline-block;
  position: relative;
  left: 5px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 25px;
  color: #FFFFFF;
}
@media (max-width: 580px) {
  .hero__pretitle {
    margin-bottom: 20px;
  }
}
.hero__title {
  margin: 0 0 80px 0;
}
@media (max-width: 990px) {
  .hero__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .hero__title {
    font-size: 5.4rem !important;
    line-height: 59px !important;
  }
}
@media (max-width: 510px) {
  .hero__title {
    font-size: 4.4rem !important;
    line-height: 50px !important;
  }
}
@media (max-width: 400px) {
  .hero__title {
    font-size: 3.4rem !important;
    line-height: 50px !important;
  }
}
.hero__descr {
  left: -1px;
  letter-spacing: 0.1px;
}
@media (max-width: 990px) {
  .hero__descr {
    padding-top: 40px;
  }
}
@media (max-width: 510px) {
  .hero__descr {
    font-size: 3rem !important;
    line-height: 50px !important;
  }
}
@media (max-width: 400px) {
  .hero__descr {
    font-size: 2.4rem !important;
    line-height: 32px !important;
  }
}
.hero__btn {
  top: 81px;
  left: 28px;
}
@media (max-width: 400px) {
  .hero__btn {
    text-align: right;
  }
}
.hero__social {
  position: absolute;
  top: 833px;
  left: 50.3%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 510px) {
  .hero {
    height: 100vh;
  }
}

.hero-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-social__telegram {
  margin-right: 20.01px;
}

.hero__title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 87px;
  color: #FFFFFF;
  margin: 0;
}

.hero__descr {
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 57px;
  position: relative;
  top: -21px;
}

.modal__title {
  font-size: 4rem;
  color: #fff;
}

.section-title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 33px;
  color: #868585;
  text-transform: uppercase;
}
.section-title--hidden {
  display: none !important;
}

h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 25px;
  color: #303030;
}

.text-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 25px;
  color: #303030;
}

.btn {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 25px;
  color: #FFFFFF;
  position: relative;
  z-index: 10;
}
.btn::after {
  content: url("../img/btn-arrow.png");
  z-index: 3;
  position: absolute;
  top: -20px;
  left: -19px;
}
.btn::before {
  content: "";
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -59px;
  left: -48px;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: -1;
}
.btn:hover::before {
  background-color: #A9A32A;
}

.btn--black {
  color: #303030;
}
.btn--black::after {
  content: url("../img/btn-dark-arrow.png");
}
.btn--black::before {
  border-color: #303030;
}

.modal {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 6;
  overflow-y: scroll;
  -webkit-animation-name: modal-transition;
  animation-name: modal-transition;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-transition-timing-function: liner;
  -o-transition-timing-function: liner;
  transition-timing-function: liner;
}
.modal__title {
  max-width: 700px;
  font-size: 4rem;
  color: #fff;
  line-height: 50px;
  background-color: #455ea0;
  padding: 30px 15px 30px;
  text-align: center;
}
@media (max-width: 400px) {
  .modal__title {
    font-size: 3rem;
    line-height: 40px;
  }
}
.modal__btn {
  color: black;
  top: 65px;
  left: 28px;
}
.modal__btn::before {
  border-color: grey;
}
.modal__btn::after {
  color: grey;
}
.modal--hidden {
  display: none;
}
.modal__close-btn {
  background-image: url("../img/close_icon.png");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 11px;
  cursor: pointer;
  z-index: 10;
}

@-webkit-keyframes modal-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes modal-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 15px 100px 15px;
  text-align: center;
}
.modal-form__field {
  font-size: 1.6rem;
  width: 400px;
  padding: 20px 10px 20px 10px;
  -webkit-box-shadow: 7px 7px 18px 6px rgba(34, 60, 80, 0.2);
  box-shadow: 7px 7px 18px 6px rgba(34, 60, 80, 0.2);
}
.modal-form__field::-webkit-input-placeholder {
  font-size: 1.8rem;
  color: rgb(174, 171, 171);
}
.modal-form__field::-moz-placeholder {
  font-size: 1.8rem;
  color: rgb(174, 171, 171);
}
.modal-form__field:-ms-input-placeholder {
  font-size: 1.8rem;
  color: rgb(174, 171, 171);
}
.modal-form__field::-ms-input-placeholder {
  font-size: 1.8rem;
  color: rgb(174, 171, 171);
}
.modal-form__field::placeholder {
  font-size: 1.8rem;
  color: rgb(174, 171, 171);
}
@media (max-width: 510px) {
  .modal-form__field {
    width: 310px;
  }
}
@media (max-width: 400px) {
  .modal-form__field {
    width: 270px;
  }
}
.modal-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-form__input--phone {
  margin-bottom: 30px;
}
.modal-form__input--name {
  margin-bottom: 15px;
}
.modal-form__text {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.notice {
  font-size: 1.4rem;
  color: grey;
  max-width: 440px;
  text-align: center;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}

.footer {
  max-width: 1921px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 69.35px;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__top-content {
  padding-bottom: 109.48px;
}
@media (max-width: 580px) {
  .footer__top-content {
    padding-bottom: 40px;
  }
}
.footer__social {
  -webkit-transform: translate(-40px 0);
  -ms-transform: translate(-40px 0);
  transform: translate(-40px 0);
}
.footer__telegram {
  margin-right: 4px;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-content__form {
  margin-right: 91px;
}
@media (max-width: 580px) {
  .top-content__form {
    margin-right: 0;
    margin-bottom: 198px;
  }
}
@media (max-width: 580px) {
  .top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.content-form {
  width: 510px;
}
.content-form__title {
  margin-bottom: 65px;
}
@media (max-width: 580px) {
  .content-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
  }
}

.footer-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  color: #fff;
  font-size: 1.8rem;
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 13px;
}
.footer-form__input--name {
  margin-bottom: 64px;
}
.footer-form__input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
}
.footer-form__input::-moz-placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
}
.footer-form__input:-ms-input-placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
}
.footer-form__input::-ms-input-placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
}
.footer-form__input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
}
@media (max-width: 580px) {
  .footer-form__input {
    width: 300px;
  }
}
.footer-form__btn {
  top: 119px;
  left: 47px;
}
@media (max-width: 580px) {
  .footer-form__btn {
    top: 119px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.content-form__title {
  color: #FFFFFF !important;
}
@media (max-width: 580px) {
  .content-form__title {
    text-align: center;
  }
}

.top-contacts__title {
  color: #FFFFFF;
  margin-bottom: 59px;
}
@media (max-width: 580px) {
  .top-contacts__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 580px) {
  .top-contacts {
    text-align: center;
  }
}

.contacts-list__item {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media (max-width: 580px) {
  .contacts-list:not(:last-child) {
    margin-bottom: 0;
  }
}
.contacts-list__link {
  color: #fff;
}

.bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom-content__link {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  cursor: pointer;
}
.bottom-content__logo {
  -webkit-transform: translate(-74px, 8px);
  -ms-transform: translate(-74px, 8px);
  transform: translate(-74px, 8px);
}
@media (max-width: 850px) {
  .bottom-content__logo {
    -webkit-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    transform: translate(0, 8px);
  }
}
@media (max-width: 850px) {
  .bottom-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 160px;
  }
}

.footer__social {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 990px) {
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}
.services__title {
  padding-top: 150px;
  margin-bottom: 58px;
}
@media (max-width: 990px) {
  .services__title {
    text-align: center;
  }
}
@media (max-width: 990px) {
  .services__img {
    height: 430px;
    width: 100%;
    margin-bottom: 40px;
  }
}

.services-item {
  margin-right: 89px;
}
@media (max-width: 1200px) {
  .services-item {
    margin-right: 30px;
  }
}
@media (max-width: 990px) {
  .services-item {
    margin-right: 0;
  }
}
.services-item__title {
  margin-bottom: 16px;
}
.services-item__descr {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
  max-width: 510px;
}
.services-item:not(:last-child) {
  margin-bottom: 49px;
}

.advantages {
  padding-top: 151px;
  padding-bottom: 150px;
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}
.advantages__title {
  margin-bottom: 61px;
}
@media (max-width: 990px) {
  .advantages__title {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .advantages__left-content {
    padding-right: 15px;
  }
}
@media (max-width: 990px) {
  .advantages__left-content {
    padding-right: 0;
  }
}

.advantages-tabs-body {
  margin-bottom: 99px;
}
@media (max-width: 1200px) {
  .advantages-tabs-body {
    margin-bottom: 60px;
  }
}

.advantages-items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(205px, auto));
  grid-column-gap: 39px;
  grid-row-gap: 18px;
  max-width: 509px;
}
@media (max-width: 990px) {
  .advantages-items {
    margin-bottom: 50px;
  }
}
@media (max-width: 510px) {
  .advantages-items {
    max-width: 390px;
  }
}

.advantages-item__title {
  margin-bottom: 7px;
}
.advantages-item__descr {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
}

.advantages-right-content__subtitle {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  max-width: 600px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .advantages-right-content__subtitle {
    margin-bottom: 32px;
  }
}
@media (max-width: 850px) {
  .advantages-right-content__subtitle {
    max-width: 730px;
    text-align: center;
  }
}

.advantages-tabs-header {
  margin-bottom: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .advantages-tabs-header {
    margin-bottom: 60px;
  }
}
@media (max-width: 990px) {
  .advantages-tabs-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.advantages-tabs-header__item {
  font-size: 1.8rem;
  color: #303030;
  position: relative;
  cursor: pointer;
}
.advantages-tabs-header__item--active::after {
  content: "";
  border-bottom: 1px solid black;
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;
}
@media (max-width: 385px) {
  .advantages-tabs-header__item--active::after {
    width: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.advantages-tabs-header__item:not(:last-child) {
  margin-right: 44px;
}
@media (max-width: 850px) {
  .advantages-tabs-header__item:not(:last-child) {
    margin-right: 0;
  }
}
.advantages-tabs-header__item:nth-child(2) {
  margin-right: 41px;
}
@media (max-width: 850px) {
  .advantages-tabs-header__item:nth-child(2) {
    margin-right: 0;
  }
}
@media (max-width: 990px) {
  .advantages-tabs-header__item:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 990px) and (max-width: 385px) {
  .advantages-tabs-header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 385px) {
  .advantages-tabs-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
  }
}

.advantages-tabs-body__item {
  display: none;
}
.advantages-tabs-body__item--active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
@media (max-width: 510px) {
  .advantages-tabs-body__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.advantages-tabs-body__img {
  margin-right: 40px;
}
@media (max-width: 580px) {
  .advantages-tabs-body__img {
    margin-right: 15px;
  }
}
@media (max-width: 510px) {
  .advantages-tabs-body__img {
    width: 350px;
    height: auto;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.slider, .slider-two, .slider-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 235px;
}
.slider__item, .slider-two__item, .slider-three__item {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
  -webkit-animation: slider-anim 0.4s linear;
  animation: slider-anim 0.4s linear;
}
@media (max-width: 510px) {
  .slider__item, .slider-two__item, .slider-three__item {
    max-width: 310;
  }
}
@media (max-width: 510px) {
  .slider__item, .slider-two__item, .slider-three__item {
    margin-bottom: 30px;
  }
}
@media (max-width: 510px) {
  .slider, .slider-two, .slider-three {
    max-width: 310px;
  }
}

.slider-nav, .slider-two-nav, .slider-three-nav {
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  cursor: pointer;
}
.slider-nav__prev, .slider-two-nav__prev, .slider-three-nav__prev {
  margin-right: 19px;
}

@-webkit-keyframes slider-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slider-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quote {
  max-width: 1921px;
  margin: 0 auto;
  background-image: url("../img/quote-img.jpg");
  background-position: center;
  background-size: cover;
}

.quote-text {
  max-width: 673px;
  padding-top: 128px;
  padding-bottom: 144px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 57px;
  text-align: center;
  color: #fff;
  -webkit-transform: translateX(-6px);
  -ms-transform: translateX(-6px);
  transform: translateX(-6px);
}
.quote-text__move-left {
  display: inline-block;
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(6px);
}
@media (max-width: 510px) {
  .quote-text {
    font-size: 3.5rem;
    line-height: 48px;
  }
}
@media (max-width: 400px) {
  .quote-text {
    font-size: 2.8rem;
    line-height: 42px;
  }
}

.clients {
  padding-top: 150px;
  padding-bottom: 145px;
}
.clients__title {
  margin-bottom: 59px;
}
@media (max-width: 850px) {
  .clients__title {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .swiper {
    width: auto;
    height: 750px;
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .swiper {
    height: 771px;
    margin-bottom: 10;
  }
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.swiper-slide__img {
  width: 510px;
  height: 370px;
  margin-right: 91px;
  margin-bottom: 26px;
}
@media (max-width: 1200px) {
  .swiper-slide__img {
    margin-right: 50px;
  }
}
@media (max-width: 990px) {
  .swiper-slide__img {
    margin-right: 36px;
  }
}
@media (max-width: 850px) {
  .swiper-slide__img {
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
  }
}

.text-content__title {
  max-width: 478px;
  text-align: left;
  margin-bottom: 30px;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}
.text-content__item {
  padding-left: 49px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
}
.text-content__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 990px) {
  .text-content__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.text-content__item:last-child {
  margin-bottom: 45px;
}
@media (max-width: 990px) {
  .text-content__item:last-child {
    margin-bottom: 15px;
  }
}
@media (max-width: 400px) {
  .text-content__item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 990px) {
  .text-content__item {
    padding-left: 0;
  }
}
.text-content__button {
  -webkit-transform: translateX(-51px);
  -ms-transform: translateX(-51px);
  transform: translateX(-51px);
  left: 97px;
  top: 79px;
}
.text-content__button::before {
  width: 97px;
  height: 96px;
  top: -58px;
  left: -47px;
}
@media (max-width: 400px) {
  .text-content__button::before {
    width: 70px;
    height: 70px;
    top: -41px;
    left: -40px;
  }
}
.text-content__button::after {
  left: -17px;
}
@media (max-width: 400px) {
  .text-content__button::after {
    top: -13px;
  }
}
@media (max-width: 990px) {
  .text-content__button {
    font-size: 1.6rem;
  }
}
@media (max-width: 850px) {
  .text-content__button {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 15px;
  }
}
@media (max-width: 400px) {
  .text-content__button {
    font-size: 1.6rem;
  }
}

.clients-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(276px);
  -ms-transform: translateX(276px);
  transform: translateX(276px);
  cursor: pointer;
}
@media (max-width: 850px) {
  .clients-buttons {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media (max-width: 400px) {
  .clients-buttons {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.clients-buttons__prev {
  margin-right: 18px;
}
@media (max-width: 850px) {
  .clients-buttons__prev {
    margin-right: 40px;
  }
}

.steps {
  padding-bottom: 147px;
}
@media (max-width: 990px) {
  .steps__list {
    margin-bottom: 50px;
  }
}
.steps__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 990px) {
  .steps__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.steps__title {
  max-width: 324px;
  margin-bottom: 68px;
}
@media (max-width: 990px) {
  .steps__title {
    max-width: 100%;
    text-align: center;
  }
}

.steps-item:first-child::before {
  content: "01";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
  position: relative;
  top: -8px;
}
.steps-item:nth-child(2)::before {
  content: "02";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
  position: relative;
  top: -8px;
}
.steps-item:nth-child(3)::before {
  content: "03";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
  position: relative;
  top: -8px;
}
.steps-item:nth-child(4)::before {
  content: "04";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
  position: relative;
  top: -8px;
}
.steps-item:nth-child(5)::before {
  content: "05";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
  position: relative;
  top: -8px;
}
.steps-item__title {
  margin-bottom: 5px;
}
.steps-item__text {
  max-width: 510px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  color: #303030;
}
.steps-item:nth-child(3) {
  margin-bottom: 33px !important;
}
.steps-item:nth-child(4) {
  margin-bottom: 33px !important;
}

@media (max-width: 990px) {
  .steps-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

.steps-item:not(:last-child) {
  margin-bottom: 39px;
}
/*# sourceMappingURL=main.css.map */