<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top-content top-content" data-aos="fade-up">
      <div class="top-content__form content-form">
        <h2 class="section-title content-form__title">Оставить заявку</h2>
        <form method="POST" action="mail.php" enctype="multipart/form-data" class="content-form__form footer-form" name="footer-form">
          <input type="text" class="footer-form__input footer-form__input--name form-field--name" required placeholder="Имя" autocomplete="off">
          <input type="text" class="footer-form__input footer-form__input--phone" required placeholder="Телефон" id="phone" autocomplete="off">
          <button class="btn footer-form__btn">Оставить заявку</button>
        </form>
      </div>
      <div class="top-content__contacts top-contacts">
        <h2 class="section-title top-contacts__title">Контакты</h2>
        <ul class="top-contacts__list contacts-list">
          <li class="contacts-list__item">
            Центральный офис: <br> г. Москва, ул,Гоголя 13, 1й этаж
          </li>
          <li class="contacts-list__item">
            Представительство в Киеве:<br> г. Киев, ул. Є. Коновальця, 103 оф. 410
          </li>
          <li class="contacts-list__item">
            Представительства в Харькове, Одессе, Ростове, Сочи, Белгороде
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:89876545456">+7 987 654-54-56 </a><br> +38 067 504-32-57
          </li>
          <li class="contacts-list__item">
            Ежедневно 08:00 - 20:00
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom-content bottom-content">
      <span class="bottom-content__item"><a class="bottom-content__link" href="https://google.com" target="_blank">Политика конфиденциальности</a></span>
      <img src="./img/logo.png" alt="Solar exe" class="bottom-content__logo">
      <div class="footer__social footer-social">
        <a href="tg://resolve?phone=89965728515" target="_blank" class="footer-social__link footer__link">
          <img src="./img/telegram-icon.png" alt="Telegram" class="footer-social__telegram footer__telegram">
        </a>
        <a href="https://web.whatsapp.com/send?phone=89965728515" target="_blank" class="footer-social__link"><img src="./img/whatsapp-icon.png" alt="Whatsapp" class="footer-social__whatsapp"></a>
      </div>
    </div>
  </div>
</footer>
