<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <span class="hero__pretitle">Зеленый тариф для дома и бизнеса</span>
      <h1 class="hero__title">Солнечная электростанция <span class="hero__descr">с доходом от 1000 $ в месяц</span></h1>
      <button class="btn btn-launch-modal hero__btn">записаться на консультацию</button>
    </div>
    <div class="hero__social hero-social">
      <a href="tg://resolve?phone=89965728515" target="_blank" class="hero-social__link">
        <img src="./img/telegram-icon.png" alt="Telegram" class="hero-social__telegram">
      </a>
      <a href="https://web.whatsapp.com/send?phone=89965728515" target="_blank" class="hero-social__link"><img src="./img/whatsapp-icon.png" alt="Whatsapp" class="hero-social__whatsapp"></a>
    </div>
  </div>
</section>
