<section class="modal modal--hidden">
  <div class="modal__close-btn"></div>
  <div class="modal__container">
    <h2 class="modal__title">Запишитесь на консультацию сейчас</h2>
    <form  class="modal__form modal-form">
      <div class="modal-form__input modal-form__input--name">
        <label for="name" class="modal-form__text">Ваше Имя</label>
        <input type="text" class="modal-form__field modal-form__field--name" id="name" placeholder="Например, Иванов Иван Иванович" autocomplete="off" name="name" required>
      </div>
      <div class="modal-form__input modal-form__input--phone">
        <label for="phone" class="modal-form__text">Ваш телефон</label>
        <input type="phone" class="modal-form__field" id="phone" placeholder="Например, +7 (922) 96-27-514" autocomplete="off" name="phone" required>
      </div>
      <button class="btn modal__btn">Записаться</button>
    </form>
    <div class="notice">Нажимая на кнопку, Вы подтверждаете отправку персональных данных</div>
  </div>
</section>
