<section class="services">
  <div class="container services__container">
    <h2 class="section-title services__title" data-aos="fade-up">Услуги</h2>
    <div class="services__content">
      <ul class="services__items services-items">
        <li class="services-items__item services-item" data-aos="fade-up">
          <h3 class="services-item__title">Полный комплект солнечной электростанции
          </h3>
          <p class="services-item__descr">74 модели солнечных панелей, 31 модель инверторов, провода с повышенной устойчивостью к атмосферным условиям, качественные соединители, контроллеры зарядов и надежные гелевые аккумуляторы с увеличенным сроком службы.</p>
        </li>
        <li class="services-items__item services-item" data-aos="fade-up">
          <h3 class="services-item__title">Подбор оборудования <br> с максимальной производительностью</h3>
          <p class="services-item__descr">Подбираем солнечные панели с учетом расположения Вашего дома, количеством прямого и рассеянного излучения, для того, чтобы Ваша электростанция - вырабатывала максимальное количество электроэнергии и окупилась как можно быстрее.</p>
        </li>
        <li class="services-items__item services-item" data-aos="fade-up">
          <h3 class="services-item__title">Монтаж оборудования в соответствии с ГОСТом</h3>
          <p class="services-item__descr">Монтаж производится в точном соответствии с ГОСТом, с учетом закона о «Зеленом тарифе» и требованиями Облэнерго. При этом, мы учитываем, чтобы солнечная станция имела максимально возможную производительность.</p>
        </li>
        <li class="services-items__item services-item" data-aos="fade-up">
          <h3 class="services-item__title">Помощь в подключении к «Зеленому тарифу»</h3>
          <p class="services-item__descr">Всю бюрократическую процедуру по подключению Вашей электростанции к «Зеленому тарифу», мы берем на себя, в том числе по увеличению договорной мощности вашего дома. При заказе солнечной электростанции эта услуга абсолютно бесплатна.</p>
        </li>
      </ul>
      <img src="../img/services-img.jpg" alt="Плантация из солнечных панелей" class="services__img" data-aos="fade-up">
    </div>
  </div>
</section>
